.GenericCarousel_genericCarouselContainer__Uavmv {
    position: relative
}

.GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_genericCarouselItemsContainer__pCJXc {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    height: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    z-index: 16
}

.GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_genericCarouselItemsContainer__pCJXc::-webkit-scrollbar {
    display: none
}

.GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_temporaryItem__FUmS9 {
    min-width: 340px;
    height: 240px;
    background-color: #1e90ff;
    border-radius: 10px;
    margin-right: 50px
}

@media(max-width:1023px) {
    .GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_temporaryItem__FUmS9 {
        width: 100%;
        height: 200px
    }
}

.GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_leftIconContainer__zUbzh {
    position: absolute;
    left: 0;
    top: calc(50% - 25px);
    margin-left: -30px;
    z-index: 17
}

@media(max-width:1023px) {
    .GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_leftIconContainer__zUbzh {
        display: none
    }
}

.GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_rightIconContainer__AbXWk {
    position: absolute;
    right: 0;
    top: calc(50% - 25px);
    margin-right: -30px;
    z-index: 17
}

@media(max-width:1023px) {
    .GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_rightIconContainer__AbXWk {
        display: none
    }
}

.GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_leftArrowIconBox__orusP,
.GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_rightArrowIconBox__HXqb_ {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: hsla(0, 0%, 100%, .7);
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    transition: opacity .2s linear;
    border: 1px solid #e0e0e0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    cursor: pointer;
    transition: all .2s linear
}

.GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_leftArrowIconBox__orusP svg,
.GenericCarousel_genericCarouselContainer__Uavmv .GenericCarousel_rightArrowIconBox__HXqb_ svg {
    width: 28px;
    height: 28px
}

.FlightIncludedTag_flightIncludedBox__3fAAO {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -5px;
    right: -5px;
    width: 80px;
    height: 80px;
    border-radius: 4px 10px 4px 70px;
    border: 1px solid #e0e0e0;
    background: #f4f6f9;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .12);
    z-index: 1
}

.FlightIncludedTag_flightIconBox__SdZZX {
    display: flex;
    position: relative
}

.FlightIncludedTag_flightIcon__Mf__0 {
    margin-left: 30px;
    margin-top: 5.5px
}

.FlightIncludedTag_flightIconLine__3tQ85 {
    min-width: 77px;
    min-height: 1px;
    margin-bottom: 5px;
    margin-top: 3px
}

.FlightIncludedTag_flightIncludedLabelBold__HJSvX {
    display: flex;
    align-items: center;
    color: #202020;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    margin-left: 22px
}

.FlightIncludedTag_flightIncludedLabelLight__LmbQj {
    display: flex;
    align-items: center;
    color: #7a7a7a;
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    margin-left: 32px
}

.FlightIncludedTag_flightIcon__Mf__0 {
    display: flex;
    position: absolute
}

.HandPickedProductCard_wrapper__6ih7N {
    width: 300px;
    height: auto
}

@media(max-width:576px) {
    .HandPickedProductCard_wrapper__6ih7N {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px
    }
}

.HandPickedProductCard_redBorder__NVuRv {
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(243, 112, 34, .4);
    border: 2px solid var(--primary-color, #f37002);
    overflow: hidden
}

@media(max-width:576px) {
    .HandPickedProductCard_redBorder__NVuRv {
        border: 1px solid var(--primary-color, #f37002);
        box-shadow: 0 0 3px 3px rgba(244, 118, 37, .5)
    }
}

.HandPickedProductCard_bookingCountTag__lFPoH {
    display: flex;
    position: absolute;
    z-index: 3;
    background-color: #f57725;
    align-items: center;
    padding: 0 10px;
    color: #fff;
    font-size: 11px;
    line-height: 23px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 5px
}

.HandPickedProductCard_bookingCountTag__lFPoH span {
    margin-left: 7px
}

.HandPickedProductCard_container__1lYUZ,
.HandPickedProductCard_topSection__leG_8 {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px
}

.HandPickedProductCard_topSection__leG_8 {
    overflow: hidden
}

.HandPickedProductCard_imageBox__xU0qW {
    display: flex;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden
}

.HandPickedProductCard_imageBox__xU0qW img {
    width: 340px;
    border-radius: 10px;
    object-fit: cover;
    height: 510px
}

@media(max-width:576px) {
    .HandPickedProductCard_imageBox__xU0qW {
        width: 100%;
        height: 510px
    }
    .HandPickedProductCard_imageBox__xU0qW img {
        width: 100%
    }
}

.HandPickedProductCard_divider__nHZwD {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
    min-height: 1px;
    width: 100%;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, .05) -.13%, hsla(0, 0%, 88%, .05) 0, #fff 49.17%, hsla(0, 0%, 88%, .05))
}

.HandPickedProductCard_bottomBox__0_otq {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%
}

.HandPickedProductCard_firstRow__t3RHF {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px
}

.HandPickedProductCard_duration__Jck7N {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    line-height: 21px
}

@media(max-width:375px) {
    .HandPickedProductCard_duration__Jck7N {
        font-size: 12px
    }
}

.HandPickedProductCard_reviewBox__pFL3A {
    display: flex;
    flex-direction: row
}

.HandPickedProductCard_reviewRating__JrZeG {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin: 0 5px
}

@media(max-width:375px) {
    .HandPickedProductCard_reviewRating__JrZeG {
        font-size: 13px
    }
}

.HandPickedProductCard_reviewRatingCount__eZWOp {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px
}

@media(max-width:375px) {
    .HandPickedProductCard_reviewRatingCount__eZWOp {
        font-size: 11px
    }
}

.HandPickedProductCard_name__BvJsb {
    display: flex;
    align-items: center;
    line-height: 23px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px
}

@media(max-width:375px) {
    .HandPickedProductCard_name__BvJsb {
        font-size: 13px
    }
}

.HandPickedProductCard_priceContainer__C_6wk {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px
}

.HandPickedProductCard_strikeThroughPrice__3piVb {
    display: flex;
    align-items: center;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    margin-right: 5px
}

@media(max-width:375px) {
    .HandPickedProductCard_strikeThroughPrice__3piVb {
        font-size: 12px
    }
}

.HandPickedProductCard_actualPrice__ozQcg {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-right: 5px
}

@media(max-width:375px) {
    .HandPickedProductCard_actualPrice__ozQcg {
        font-size: 16px
    }
}

.HandPickedProductCard_buttonContainer__Yx2x6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px
}

.HandPickedProductCard_hollowButtonIcon__r2zm5 {
    display: flex;
    align-items: center;
    justify-content: center
}

.HandPickedProductCard_filledButton__oNGyL,
.HandPickedProductCard_hollowButton__zHTGn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    border-radius: 7px;
    border: 1px solid #fff;
    background: transparent;
    color: var(--primary-color, #f37002);
    font-size: 14px;
    font-weight: 500
}

@media(max-width:576px) {
    .HandPickedProductCard_filledButton__oNGyL,
    .HandPickedProductCard_hollowButton__zHTGn {
        width: calc(50% - 7.5px)
    }
}

.HandPickedProductCard_hollowButton__zHTGn {
    width: 51px;
    justify-content: center
}

.HandPickedProductCard_savePrice__ZVtvZ {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 9px;
    font-weight: 600;
    line-height: 24px;
    margin-left: -.5px;
    margin-right: -.5px;
    gap: 4px;
    padding: 0 4px;
    background: hsla(0, 0%, 100%, .3)
}

.HandPickedProductCard_savePriceLeftBorderIcon__Kglze {
    height: 24px
}

.HandPickedProductCard_savePriceRightBorderIcon__RYt3z {
    transform: rotate(180deg);
    height: 24px
}

.HandPickedProductCard_filledButton__oNGyL {
    background: #fff;
    color: #202020;
    width: calc(100% - 61px)
}

.HandPickedProductCard_bookNowBtn__US7M8 {
    width: 100%
}

.HandPickedProductCard_destinationListWrapper___Ot9Q {
    display: flex;
    width: 100%;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, 0));
    position: relative;
    border-radius: 5px;
    margin-top: 10px
}

.HandPickedProductCard_destinationListBox__4h6u3 {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 5px;
    height: 32px;
    margin: 0 32px 0 7px
}

.HandPickedProductCard_remainingDestinationCountBox__vsrY5 {
    display: flex;
    position: absolute;
    width: 35px;
    right: 7px;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    height: 32px;
    color: #fff
}

@media(max-width:375px) {
    .HandPickedProductCard_remainingDestinationCountBox__vsrY5 {
        font-size: 11px
    }
}

.HandPickedProductCard_remainingDestinationCount__ImNlY {
    color: #fff;
    margin-left: 0
}

.HandPickedProductCard_destinationBox__7lsyc {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 4px
}

.HandPickedProductCard_destinationCountLabel__a9_QV {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #fff
}

@media(max-width:375px) {
    .HandPickedProductCard_destinationCountLabel__a9_QV {
        font-size: 11px
    }
}

.HandPickedProductCard_destinationNameLabel__x9FcI {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    width: max-content
}

@media(max-width:375px) {
    .HandPickedProductCard_destinationNameLabel__x9FcI {
        font-size: 11px
    }
}

.HandPickedProductCard_destinationNameDivider__WjttG {
    background: #fff;
    width: 4px;
    height: 4px;
    border-radius: 50%
}

.productCard_saleImageWrapper__bM3Gg img {
    width: 133px !important;
    height: 23px !important;
    min-width: unset !important;
    max-width: unset !important;
    min-height: unset !important;
    max-height: unset !important
}

.productCard_wrapper__Ktb3c {
    width: 340px;
    height: auto;
    min-height: 470px
}

@media(max-width:576px) {
    .productCard_wrapper__Ktb3c {
        width: 100%;
        margin-top: 10px;
        min-height: 400px
    }
}

.productCard_container__aeQWM {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 100%;
    position: relative
}

@media(max-width:576px) {
    .productCard_container__aeQWM {
        width: 100%
    }
}

.productCard_flashDealTagOnImage__CuwG3 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 110px;
    height: 23px;
    background: linear-gradient(90deg, #f46f24, #ff1d6c);
    z-index: 2;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.productCard_flashDealTagOnImage__CuwG3 .productCard_dicountCodeIcon__4_5_6 {
    display: flex;
    align-items: center;
    height: 17px;
    margin-right: 7px
}

.productCard_topSection__T0I1R {
    display: flex;
    flex-direction: column;
    position: relative
}

.productCard_imageBox__x7UOw {
    display: flex;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden
}

.productCard_imageBox__x7UOw .productCard_inViewImgBox__LZ_EO {
    width: 100% !important;
    border-radius: 10px;
    overflow: hidden
}

@media(max-width:576px) {
    .productCard_imageBox__x7UOw {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1
    }
}

.productCard_imageBox__x7UOw .productCard_nextImageBox__3Ejy1 {
    position: relative;
    width: 340px;
    height: 340px;
    min-width: 340px;
    min-height: 340px;
    max-width: 340px;
    max-height: 340px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden
}

.productCard_imageBox__x7UOw .productCard_nextImageBox__3Ejy1 img,
.productCard_imageBox__x7UOw .productCard_nextImageBox__3Ejy1 span {
    border-radius: 10px;
    overflow: hidden
}

@media(max-width:576px) {
    .productCard_imageBox__x7UOw .productCard_nextImageBox__3Ejy1 {
        width: 100%;
        min-width: auto;
        min-height: auto;
        max-width: 440px;
        max-height: 440px;
        height: auto;
        aspect-ratio: 1/1
    }
}

.productCard_imageBox__x7UOw img {
    width: 340px;
    height: 340px;
    min-width: 340px;
    min-height: 340px;
    max-width: 340px;
    max-height: 340px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden
}

@media(max-width:576px) {
    .productCard_imageBox__x7UOw img {
        width: 100%;
        min-width: 340px;
        min-height: 340px;
        max-width: 440px;
        max-height: 440px;
        height: auto;
        aspect-ratio: 1/1
    }
}

.productCard_imageBox__x7UOw .productCard_arrowIconBox__O_S5n {
    opacity: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    transition: opacity .2s linear
}

.productCard_imageBox__x7UOw .productCard_arrowIconBoxVisible__zMg3g {
    opacity: .7 !important
}

.productCard_discountTag__bJQTv {
    display: flex;
    position: absolute;
    z-index: 3;
    width: max-content;
    background: linear-gradient(90deg, #ff6502 33%, #02a239 79%);
    margin-top: 15px;
    height: 22px;
    align-items: center;
    color: #fff;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 8px
}

.productCard_discountTag__bJQTv .productCard_discountTagAmount__9R5ID {
    margin-left: 3px
}

.productCard_discountTag__bJQTv .productCard_discountTagIcon__10rS7 {
    margin-right: 4px;
    margin-bottom: -6px
}

.productCard_imageBox__x7UOw:hover .productCard_arrowIconBox__O_S5n {
    opacity: 1 !important;
    transition: opacity .2s linear
}

.productCard_imageBox__x7UOw:hover .productCard_arrowIconBoxDisabled__JngTL {
    background-color: #d6d6d6
}

.productCard_bottomBox__zm_mi {
    display: flex;
    flex-direction: column
}

.productCard_durationAndReviewDetails__h5O6S {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px
}

.productCard_duration__1gheL {
    display: flex;
    align-items: center;
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px
}

@media(max-width:375px) {
    .productCard_duration__1gheL {
        font-size: 12px
    }
}

.productCard_reviewBox__dX_rm {
    display: flex;
    flex-direction: row
}

@media(max-width:375px) {
    .productCard_reviewBox__dX_rm {
        transform: scale(.9)
    }
}

.productCard_reviewRating__sAW_N {
    display: flex;
    align-items: center;
    color: #19ad6f;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin: 0 5px
}

.productCard_reviewRatingCount__iksqU {
    display: flex;
    align-items: center;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px
}

.productCard_destinationListWrapper__0TGh2 {
    display: flex;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 186, 10, .1), rgba(255, 186, 10, 0));
    position: relative;
    border-radius: 5px;
    margin-bottom: 2px
}

.productCard_destinationListBox__kpuan {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 5px;
    height: 32px;
    margin: 0 32px 0 7px
}

.productCard_remainingDestinationCountBox__2Ogie {
    display: flex;
    position: absolute;
    width: 35px;
    right: 7px;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    height: 32px
}

.productCard_remainingDestinationCount__s66KE {
    color: var(--primary-color, #f37002);
    margin-left: 0
}

.productCard_destinationExtraSpace__DHmEQ {
    display: flex;
    min-height: 32px;
    max-height: 32px;
    min-width: 100px
}

.productCard_destinationBox__D4SEW {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 4px
}

.productCard_destinationCountLabel__aJqVu {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #000
}

.productCard_destinationNameLabel__gX5iK {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #515151;
    width: max-content
}

.productCard_destinationNameDivider__Gh7Ao {
    background: #515151;
    width: 4px;
    height: 4px;
    border-radius: 50%
}

.productCard_name__G3d6e {
    display: flex;
    align-items: center;
    line-height: 23px;
    color: #202020;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 92px
}

@media(max-width:375px) {
    .productCard_name__G3d6e {
        font-size: 14px
    }
}

.productCard_fixedNameHeightWithDestination__BwApL {
    margin-bottom: 134px
}

.productCard_fixedNameHeightWithSale__6eVQD {
    margin-bottom: 115px
}

.productCard_fixedNameHeightWithSaleDestination__XU4fZ {
    margin-bottom: 157px
}

.productCard_fixedNameHeight__6hLfq {
    height: 46px
}

.productCard_priceAndBtnBox__MRIaJ {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%
}

.productCard_priceContainer__0jtNQ {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px
}

.productCard_strikeThroughPrice__qS_qk {
    display: flex;
    align-items: center;
    color: #515151;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through
}

@media(max-width:375px) {
    .productCard_strikeThroughPrice__qS_qk {
        font-size: 13px
    }
}

.productCard_actualPrice__L96rh {
    display: flex;
    align-items: center;
    color: #202020;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-right: 5px
}

@media(max-width:375px) {
    .productCard_actualPrice__L96rh {
        font-size: 17px
    }
}

.productCard_hollowButtonIcon__DyyKM {
    display: flex;
    align-items: center;
    justify-content: center
}

.productCard_filledButton__heoZf,
.productCard_hollowButton__RGZrX {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    border-radius: 7px;
    border: 1px solid var(--primary-color, #f37002);
    background: #fff;
    color: var(--primary-color, #f37002);
    font-size: 14px;
    font-weight: 600
}

@media(max-width:576px) {
    .productCard_filledButton__heoZf,
    .productCard_hollowButton__RGZrX {
        width: calc(50% - 7.5px)
    }
}

.productCard_hollowButton__RGZrX {
    width: 51px;
    justify-content: center
}

.productCard_buttonContainer__DD0KR {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px
}

.productCard_saleOfferTagWrapper__mwKbf {
    margin-top: 7px
}

.productCard_savePrice__kMtXe {
    display: flex;
    align-items: center;
    padding: 5px 2px;
    color: #0b822a;
    font-size: 9px;
    font-weight: 600;
    line-height: 14px;
    text-transform: capitalize;
    background: linear-gradient(90deg, rgba(11, 130, 42, .11) 3.64%, rgba(11, 130, 42, .1));
    gap: 3px;
    margin-left: -.5px;
    margin-right: -.5px
}

.productCard_savePriceLeftBorderIcon__6e61H {
    height: 24px;
    margin-left: 5px
}

.productCard_savePriceRightBorderIcon__sxhOU {
    transform: rotate(180deg);
    height: 24px
}

.productCard_filledButton__heoZf {
    background: var(--primary-color, #f37002);
    color: #fff;
    width: calc(100% - 61px)
}

.productCard_bookNowBtn___gAC4 {
    width: 100%
}

.productCard_indicatorsWrapper__156sP {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    gap: 0 5px;
    bottom: 10px;
    left: calc(50% - 30px)
}

.productCard_indicator__3OayI {
    min-width: 8px;
    min-height: 8px;
    background-color: #fff;
    border-radius: 50%;
    opacity: .5
}

.productCard_smIndicator__TvRVT {
    min-width: 6px;
    min-height: 6px;
    max-width: 6px;
    max-height: 6px;
    margin-top: 1px
}

.productCard_indicatorActive__WNyd8 {
    opacity: 1
}

.productCard_productExtraDetailsBox__pcoVs {
    display: flex;
    position: relative
}

.productCard_discountAmountLabel__4UIqr,
.productCard_discountLabel__ZsyPp {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 13px
}

.productCard_discountAmountLabel__4UIqr .productCard_discountAmountLabel__4UIqr,
.productCard_discountLabel__ZsyPp .productCard_discountAmountLabel__4UIqr {
    margin-left: 7px;
    font-weight: 600;
    margin-top: 0
}

.productCard_disountSubLabel__cz49R {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px
}

.productCard_saleCardDivider__G_dzg {
    display: flex;
    align-items: center;
    min-height: 1px;
    width: 100%;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, .05) -.13%, hsla(0, 0%, 88%, .05) 0, #fff 49.17%, hsla(0, 0%, 88%, .05));
    margin: 20px 0
}

.productCard_productExtraDetails__R7wWz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
    padding: 20px
}

.productCard_sendEnquiryBtnPrimary__0CXkU {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 100%;
    border-radius: 10px;
    background: #ff7b26 !important;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer
}

.productCard_sendEnquiryBtnSale__3LzwE {
    background: linear-gradient(90deg, #ff6502 33%, #02a239 79%) !important
}

.productCard_wrapperWithBorder__wYYYH {
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background: #fff
}

.productCard_wrapperWithBorder__wYYYH .productCard_imageBox__x7UOw .productCard_nextImageBox__3Ejy1,
.productCard_wrapperWithBorder__wYYYH .productCard_imageBox__x7UOw img {
    border-radius: 10px 10px 0 0
}

.productCard_bottomBoxWithBorder__Np90E {
    padding: 0 10px 10px
}

.productCard_activityBookableCardBtmHeight__1k9yd {
    margin-bottom: 0
}

.productCard_priceAndDealContainer__8cxfs {
    display: flex;
    flex-direction: column;
    margin-top: 10px
}

.productCard_priceAndDealContainer__8cxfs .productCard_regularPriceBox__DyA_A {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px
}

.productCard_priceAndDealContainer__8cxfs .productCard_regularPriceLabel__fPFMy {
    display: flex;
    align-items: center;
    color: hsla(0, 0%, 56%, .7);
    font-size: 11px;
    font-weight: 400;
    line-height: 16px
}

.productCard_priceAndDealContainer__8cxfs .productCard_regularPrice__MPzDG {
    display: flex;
    align-items: center;
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    margin-left: 5px
}

.productCard_priceAndDealContainer__8cxfs .productCard_priceAndDealBox__fxnc9 {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.productCard_priceAndDealContainer__8cxfs .productCard_discountedPrice__R_Qsh,
.productCard_priceAndDealContainer__8cxfs .productCard_specialPriceLabel__y3Hlu {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    background: linear-gradient(90deg, #f46c27, #ff1f6a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.productCard_priceAndDealContainer__8cxfs .productCard_specialPriceLabel__y3Hlu {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 3px
}

.productCard_priceAndDealContainer__8cxfs .productCard_dealPriceRightSection__EXN27 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end
}

.productCard_priceAndDealContainer__8cxfs .productCard_timerBox___TYDa {
    display: flex;
    color: #ff2069;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px
}

.productCard_priceAndDealContainer__8cxfs .productCard_timerBox___TYDa .productCard_timerMinLabel__28_Lf,
.productCard_priceAndDealContainer__8cxfs .productCard_timerBox___TYDa .productCard_timerSecLabel__hjc0Y {
    color: #ff2069;
    font-size: 12px;
    font-weight: 400
}

.productCard_priceAndDealContainer__8cxfs .productCard_timerBox___TYDa .productCard_timerBoxDivider__kvsH_ {
    margin: 0 3px
}

.productCard_priceAndDealContainer__8cxfs .productCard_flashDealTag__5_eff {
    display: flex;
    align-items: center;
    padding: 3px 7px;
    margin-top: 8px;
    gap: 5px;
    border-radius: 20px;
    background: linear-gradient(90deg, #f37022, #ff1a6d)
}

.productCard_priceAndDealContainer__8cxfs .productCard_flashDealTag__5_eff .productCard_flashDealLabel__iDLsd {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px
}

.productCard_priceAndDealContainer__8cxfs .productCard_flashDealTag__5_eff .productCard_flashDealIcon__8P84o {
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px
}

.productCard_priceAndDealContainer__8cxfs .productCard_buttonContainer__DD0KR .productCard_hollowButton__RGZrX {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    background: linear-gradient(90deg, #f46f24, #ff1e6a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.productCard_activityCardBooking__wNWqk .productCard_filledButton__heoZf,
.productCard_activityCardBooking__wNWqk .productCard_hollowButton__RGZrX {
    width: calc(50% - 5px)
}

.ProductSaleCard_wrapper__kXQul {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    background: #141414;
    width: 340px;
    min-height: 510px;
    height: auto;
    padding: 20px
}

@media(max-width:576px) {
    .ProductSaleCard_wrapper__kXQul {
        margin-top: 10px;
        width: 100%;
        min-height: 470px;
        height: calc(100% - 10px)
    }
}

.ProductSaleCard_isHandPicked__2TgUt {
    height: 510px
}

@media(max-width:576px) {
    .ProductSaleCard_isHandPicked__2TgUt {
        height: 510px
    }
}

.ProductSaleCard_divider__Vb_KL {
    display: flex;
    align-items: center;
    min-height: 1px;
    width: 100%;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, .05) -.13%, hsla(0, 0%, 88%, .05) 0, #fff 49.17%, hsla(0, 0%, 88%, .05))
}

.ProductSaleCard_customerData__L7gUN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px
}

.ProductSaleCard_customerCount__Be8AA {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    background: -webkit-linear-gradient(45deg, #ff6502 33%, #02a239 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.ProductSaleCard_customerLabel__3wWZA {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center
}

@media(max-width:375px) {
    .ProductSaleCard_customerLabel__3wWZA {
        font-size: 12px
    }
}

.ProductSaleCard_saleNameDetailsBox__cDKvd {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ff772b;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    height: 142px;
    width: 100%;
    margin-top: 30px
}

.ProductSaleCard_discountLabel__oz_oP {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 13px
}

.ProductSaleCard_sendEnquiryBox__XNCxB {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 30px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    width: calc(100% - 40px)
}

.ProductSaleCard_sendEnquiryHelpText__w_UYj {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px
}

@media(max-width:375px) {
    .ProductSaleCard_sendEnquiryHelpText__w_UYj {
        font-size: 11px
    }
}

.ProductSaleCard_sendEnquiryBtn__BzCly {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff6502 33%, #02a239 79%);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer
}

.ProductCarousel_wrapper__W201C {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 535px
}

@media(max-width:576px) {
    .ProductCarousel_wrapper__W201C {
        margin-top: 10px;
        height: 590px
    }
}

@media(max-width:390px) {
    .ProductCarousel_wrapper__W201C {
        margin-top: 10px;
        height: 550px
    }
}

.ProductCarousel_productCardContainer__95wik {
    min-width: calc(90% - 35px)
}

.ProductCarousel_productCardWrapper__g_GKA {
    min-width: 180px
}

@media(max-width:576px) {
    .ProductCarousel_productCardWrapper__g_GKA {
        min-width: calc(90% - 12.5px)
    }
}

.ProductCarousel_carouselWrapperClass__Kga_o {
    z-index: 2 !important
}

.ProductCarousel_carouselContainerClass__wZlkB {
    display: flex;
    gap: 10px;
    width: 1080px
}

@media(max-width:576px) {
    .ProductCarousel_carouselContainerClass__wZlkB {
        width: 100%;
        gap: 10px;
        padding: 0 15px
    }
}

.ProductCarousel_reduceGap__zg6Zp {
    gap: 0 15px
}

.ProductCarousel_extraRightMargin__cEBBl {
    min-width: 20px
}