img {
    width: 1000px !important;
  }

.cssClr{
    color: var(--ast-global-color-0);
}

.headerClr {
    background-color:  var(--ast-global-color-4);
}

.main-navigation .menu-item:hover > .ast-menu-toggle
{
    color:var(--ast-global-color-2) !important;
}

ul li:hover a {
    color: var(--ast-global-color-0);;
}


/* @media screen 
    and (max-device-width: 640px) {
        .mobileHeaderLogo{
            width: 30% !important;
            margin-left: 120px !important;
        }
} */

@media(max-width: 1200px) {
    .mobileHeaderLogo{
        margin-right: calc(-1 * min(var(--ast-container-default-xlg-padding), 20px));
        width: 40% !important;
    }
}
 .ast-button-wrap .ast-mobile-menu-trigger-outline {
    background: transparent;
    color: var(--ast-global-color-0);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: var(--ast-global-color-0);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

 .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
    width: 16px;
    height: 16px;
    fill: var(--ast-global-color-0);
}

.ast-button-wrap .mobile-menu-wrap .mobile-menu {
    color: var(--ast-global-color-0);
}



[data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-outline {
    background: transparent;
    color: var(--ast-global-color-0);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: var(--ast-global-color-0);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
    width: 16px;
    height: 16px;
    fill: var(--ast-global-color-0);
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-wrap .mobile-menu {
    color: var(--ast-global-color-0);
}

[class^="ico-"], [class*=" ico-"] {
    font: normal 1em/1 Arial, sans-serif;
    display: inline-block;
  }
  
  .ico-times::before { content: "\2716"; }
  .ico-check::before { content: "\2714"; }