img {
    width: 1000px !important;
  }

.cssClr{
    color: var(--ast-global-color-0);
}

.headerClr {
    background-color:  var(--ast-global-color-4);
}

.main-navigation .menu-item:hover > .ast-menu-toggle
{
    color:var(--ast-global-color-2) !important;
}

ul li:hover a {
    color: var(--ast-global-color-0);;
}