.imageWidth {
    width: 90% !important;
}

.bookNow {
    margin-top: -38%;
    margin-right: 55px;
    margin-left: 13px;
}

.imagWidth {
    width: 70% !important;
}

.packageBookNow {
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .2s;
    /* width: 100px; */
    /* height: 100px; */
    margin: 0 auto;
    cursor: pointer !important;
}

.packageBookNow:hover {
    -ms-transform: scale(0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5);
    /* Safari 3-8 */
    transform: scale(0.9);
}

.bookNowPremium {
    margin-top: -13%;
    margin-right: 55px;
    margin-left: 13px;
}

.bookNowElite{
    margin-right: 73%;
    margin-left: 30px;
}