.imageWidth {
    width: 90% !important;
}

.bookNow {
    margin-top: -38%;
    margin-right: 55px;
    margin-left: 13px;
}

.imagWidth {
    width: 70% !important;
}

.packageBookNow {
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .2s;
    /* width: 100px; */
    /* height: 100px; */
    margin: 0 auto;
    cursor: pointer !important;
}

.packageBookNow:hover {
    -ms-transform: scale(0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5);
    /* Safari 3-8 */
    transform: scale(0.9);
}

.bookNowPremium {
    margin-top: -13%;
    margin-right: 55px;
    margin-left: 13px;
}

.bookNowElite{
    margin-right: 73%;
    margin-left: 30px;
}

@media only screen and (max-width: 976px) {

    .packageImageMobile{
    width: 100% !important;
    margin-top: -35% !important;
    margin-left: 9px !important;
    }

    .eliteMobile{
        margin-top: 0px !important;
    }
    .packageOneByOne{
        column-gap: normal !important;
    margin-top: -50% !important;
    width: 100% !important;
    }

    .packagePremiumOneByOne{
        column-gap: normal !important;
    margin-top: -20% !important;
    width: 100% !important;
    }

    .packageEliteOneByOne{
        width: 100% !important;
        margin-top: 50px !important;
        margin-left: -43px !important;
    }
    .packageEliteOneByTwo{
        width: 100% !important;
        margin-top: 12px !important;
        margin-left: -43px !important;
    }

    .removeCss{
    margin-top: 0px !important; 
    margin-right: 0px !important; 
    margin-left: 0px !important;
     width: 100% !important;
    }
}