.marginTopDiv {
    margin-top: -68px;
}

.textJustify {
    text-align: justify;
}

@media only screen and (max-width: 976px) {
    .marginTopaboutUSMobile {
        margin-top: 0px !important;
    }

    .marginFocusTop {
        margin-top: 25px;
    }

    .marginTopHeading{
        margin-top: -50px;
    }
}