<div class="wp-block-uagb-container uagb-block-a6be1363 alignfull uagb-is-root-container containerDiv opacityImg" 
[ngStyle]="{'background-image': 'url('+ actualImage + ')'}">   
    <div class="uagb-container-inner-blocks-wrap" style="margin-bottom: -290px !important;">
        <div class="wp-block-uagb-advanced-heading uagb-block-81d18f4d">
            <h1 class="uagb-heading-text" style="text-transform: revert;">
                <i>{{actualImageDescription}}</i></h1>
        </div>
    </div>
</div>
<br>