<div class="wp-block-uagb-container uagb-block-a6be1363 alignfull uagb-is-root-container containerDiv opacityImg mobileImage" 
[ngStyle]="{'background-image': 'url('+ actualImage + ')'}">   
    <div class="uagb-container-inner-blocks-wrap marginBtm mobileBottom">
        <div class="wp-block-uagb-advanced-heading uagb-block-81d18f4d">
            <h1 class="uagb-heading-text fontSize" style="text-transform: revert;
            font-size: 50px;
            ">
                <i>{{actualImageDescription}}</i></h1>
        </div>
    </div>
</div>
<br>