.containerDiv {
    background-size: cover;
    background-position: top center;
    height: 78.9vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right -78px;
  }

  .opacityImg {
    opacity: 2.5 !important;
  }

  .marginBtm{
    margin-bottom: -290px !important;
  }

  @media only screen and (max-width: 976px) {

    .mobileImage{
      margin-bottom: -103px !important;
      background-position: center;
      margin-right: 0px !important;
      margin-left: 0px !important;
    }

    .mobileBottom{
      margin-bottom: 0px !important;
    }

    .fontSize{
      font-size: x-small !important;
    }
  }
  