.containerDiv {
    background-size: cover;
    background-position: top center;
    height: 78.9vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right -78px;
  }

  .opacityImg {
    opacity: 2.5 !important;
  }
  